

body{
    font-family: "Poppins", sans serif; 
 background-color: #191f13;
}

.container{
    max-width: 1200px;
    margin: 0 auto;  
}

header{
   background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../images/hero_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px 0;
    color: #fff;
    text-align: center;
}

header h1{
    font-size: 125px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
}

header h2{
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 3px;
    margin: 0;
}

header h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 3px;
     margin: 0;
}

header a{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: white;
    text-decoration: none;
    color: #191f13;
    border: none;
    border-radius: 4px;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 30px;
    
}


footer{
    margin-top: 30px;
    font-family: monospace;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

footer a{
    color: #de904a;
}

@media (max-width: 900px){
    header{
        padding: 60px 0;
    }
    h1{
       font-size: 60px; 
    }
    
    footer{
        display: none;
    }


}